*{
  box-sizing: border-box;
  left: 0;
  right: 0;
}
.description-text {
  color: rgb(26, 152, 255);
  font-family: arial;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 100px;
  margin-top: 60px;
}
.front-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  text-align: center;
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  .front-preview {
      grid-template-columns: 1fr;
  }
}
@media (min-width: 499px) {
  .front-preview {
      grid-template-columns:  1fr 1fr 1fr 1fr;
  }
}

.image-container {
  background-color: white;
  padding: 20px;  
  width: 100%;
  margin-right: 0;
}
.above-text {
  font-family: arial;
  font-weight: 600;
  font-size: 20px;
}
.school-tool {
  width: 300px;
  height: fit-content;
  cursor: pointer;
}
.school-tool:hover {
  background-color: gold;
  background-image: url('school-tool.jpg');
}

.front-seller-preview {
  display: block;
}
.link-text {
  font-family: arial;
}

.box-container {
  background-color: white;
  padding: 10px;
}
.text-top {
  font-family: arial;
  font-size: 20px;
  font-weight: 800;
  display: block;
}
.shirt-container {
  width: 200px;
  margin-right: 40px;
}
.trouser-container {
  width: 243px;
  margin-right: 40px;
}
.wig-container {
  width: 250px;
  margin-right: 40px;
}
.timber-land {
  width: 250px;
  margin-right: 40px;
}
.bag-container {
  width: 250px;
  margin-right: 0;
}

.container {
  display: flex;
  gap: 0px; /* Optional: Adds space between the articles */
}

.article {
  flex: 1; /* Allows the articles to take up equal space */
    padding-top:20px;
    padding-bottom:47px;
    padding-left:38px; 
}
h2 {
  color: rgb(26, 152, 255);
  font-family: arial;
}


footer {
  background-color: rgba(35, 47, 62, 1);
  display: block;
  clear: both;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  padding-bottom: 103px;
}
h5 {
  background-color: #004b91;
  display: block;
  color: #fff;
  padding: 19px;
  padding-top:43px;
  padding-bottom:42px;
  margin-top:2px;
}
#footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: inherit;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.foot-text {
  text-decoration: none;
}
.foot-text:hover {
  text-decoration: solid;
  background-color: aqua;
}
ul {
  display: inline-block;
  overflow:hidden;
}
li {
  color: #fff;
  cursor: pointer;
  padding-top: 25px;
}
